<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/Projects.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/logo-de-IALY-Francisco-Raymond.png" type="image/x-icon">
    <title>Projects | Backoffice - ME</title>
</head>
<body>
    <main class="container">
        <div class="overlay" onclick="closeModal()"></div>
        <form action="/api/generate-key" method="POST" class="modal">
            <h3>Project deletion</h3>
            <p>Are you sure to delete <span class="projectName"></span> project ?</p>
            <div class="button-container">
                <button onclick="closeModal()" type="button">No</button>
                <button type="submit">Yes</button>
            </div>
        </form>
        <section class="left">
            <%- include('Sidebar') -%>
        </section>
        <section class="right">
            <%- include('Header') -%>
            <div class="title-container">
                <h1>Projects</h1>
            </div>
            <div class="actions">
                <a href="/backoffice/add-project">
                    <button>Add project</button>
                </a>
            </div>
            <section class="apikey-list">
                <table>
                    <tr>
                        <th>Names</th>
                        <th>Projects type</th>
                        <th>Host</th>
                        <th>Register date</th>
                        <th>Actions</th>
                    </tr>
                <% projects.forEach(project => { %>
                    <tr>
                        <td>
                            <p><%- project.name -%></p>
                        </td>
                        <td>
                            <p><%- project.type -%></p>
                        </td>
                        <td>
                            <a href="<%- project.host_url -%>" target="_blank"><%- project.host_url -%></a>
                        </td>
                        <td>
                            <p><%= moment(project.register_date).format('MMMM D YYYY [at] h:mm A') %></p>
                        </td>
                        <td>
                            <p class="project-actions">
                                <img src="../../img/trash.png" alt="Icon de suppréssion de projet de ME" onclick="showModal('<%- project.name -%>')">
                                <img src="../../img/edit.png" alt="Icon d'édition de projet de ME">
                            </p>
                        </td>
                    </tr>
                <% }) %>
                </table>
            </section>
        </section>
    </main>
</body>
<script src="../../js/Projects.js"></script>
</html>