<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/Tasks.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/logo-de-IALY-Francisco-Raymond.png" type="image/x-icon">
    <title>Tasks | Backoffice - ME</title>
</head>
<body>
    <main class="container">
        <section class="left">
            <%- include('Sidebar') -%>
        </section>
        <section class="right">
            <%- include('Header') -%>
            <div class="title-container">
                <h1>Tasks</h1>
            </div>
            <div class="actions">
                <a href="/backoffice/add-task">
                    <button>Add task</button>
                </a>
            </div>
            <section class="task-list">
                <ul>
                <% tasks.forEach(task => { %>
                    <a href="/backoffice/task-details/<%- task._id -%>">
                        <li class="task">
                            <div class="head">
                                <div class="task-title-container">
                                    <h3><%- task.name -%></h3>
                                </div>
                                <div class="task-description">
                                    <p><%- task.description -%></p>
                                </div>
                            </div>
                            <div class="foot">
                                <div class="left">
                                    <p class="status">
                                        <span class="<%- task.status -%>"><%- task.status -%></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </a>    
                <% }) %>
                </ul>
            </section>
        </section>
    </main>
</body>
</html>